
{% block content %}
    <div id="content">
        <div>
            <script type="text/javascript">
                window.onload = function() {
                    window.open('{% url 'pdf_view' pdffile %}', 'newwindow', 'width=600,height=500');
                    window.location.href = "{% url return_url model_id %}";
                }
            </script>
        </div>
        
    </div>
{% endblock %}



{% comment %} {% block content %}
    <div id="content">
        <div>
            <button onclick="window.open('{% url 'pdf_view' pdffile %}', 'newwindow', 'width=600,height=500'); return false;">Open PDF</button>
        </div>
        {% comment %} <div>
            <button onclick="window.print()">Print PDF</button>
            <embed src="{% url 'pdf_view' pdffile %}" width="600px" height="500px" />
        </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
{% comment %} {% endblock %} {% endcomment %}
{% comment %} {%load static %}
{% block content %}
<h3>{{title}}</h3>
<br/>
<hr/>
<p>CLick print button to print {{title}}</p>

{%block pdf%}
    <div class="container-fluid" id="content">
        <!-- Here need to use lib to display pdf file , first try function view to easy data passing. -->
    </div>
{%end block%}


<p><button onclick="print_n_go()" class="btn btn-sm btn-success "> Print</button></p>


{%end block%}

{%block script%}
<script >
function  print(){

    window.print();
    window.Navigator.call() 
    // Django and javascript nagigation need to be done .    

}
</script>

{%end block%} {% endcomment %}

 {% comment %} {% endcomment %} 