{% load static %}

<!-- {% include 'apps/helpers/sidebar_nav_item.html' with title='Tables' url='tables'%} 
{% include 'apps/helpers/sidebar_nav_item.html' with title='Billing' url='billing' %}  -->
{% include 'apps/helpers/nav_base_header.html' with title="Apps" %} 
{% include 'apps/menu_items/client_menu_item.html' with title="Core"%} 
{% include 'apps/menu_items/hrms_menu_item.html' with title="HRMS"%} 
{% include 'apps/menu_items/pos_menu_item.html' with title="POS"%} 
{% include 'apps/menu_items/accounting_menu_item.html' with title="Accounting"%} 
{% include 'apps/menu_items/banking_menu_item.html' with title="Banking"%} 
{% include 'apps/menu_items/inventory_menu_item.html' with title="Inventory"%}
{% include 'apps/helpers/nav_base_header.html' with title="Account pages"  %}
{% include 'apps/helpers/sidebar_nav_item.html' with title='Profile' url='profile' %}
