Django==5.0.3
djangorestframework==3.14.0
PyJWT==2.8.0
django-cors-headers==4.3.1
gunicorn==21.2.0
django-environ==0.11.2
django-api-generator
reportlab
pandas
##django-dynamic-datatb
##django-dynamic-api
python-dotenv
# Deployment
whitenoise==6.6.0
inflect
#database
##psycopg2-binary
##oracledb
#django-admin-soft-dashboard
##psycopg2-binary
##asgiref==3.7.2
##autopep8==2.0.4
##dj-database-url==2.1.0
##pycodestyle==2.11.1
##pytz==2024.1
##sqlparse==0.4.4
##toml==0.10.2
##drf-yasg
##drf-yasg[validation]
##setuptools
##django-crispy-forms
django-widget-tweaks
django-weasyprint
django-toggle-switch-widget
weasyprint
#django_renderpdf
#django-listing
#gobject-2.0-0
