{% extends 'layouts/base.html' %} {% load i18n static %}

{% block title %}
{{ title }}
<span class="badge badge-primary badge-round">
    {% if new_record %}[New]{%endif %}
</span>
{% endblock %}

{% block content %}

<div class="container-fluid  py-4">
    <div class="row">
        <div class="col-12  ">
            <div class="card mb-4">
                <div class="card-header pb-0   text-left  ">
                    <h4 class="font-weight-bolder text-info text-gradient"> {{ title }}
                        {% if new_record %} <span class="badge badge-primary badge-round">[New]</span>
                        {%else%} <span class="badge badge-warning badge-round"> [Id: {{form.instance.pk }}] </span>
                        {%endif %} </h4>
                    <hr class="bg-gradient-success" />
                </div>
                <div class="card-body px-0 pt-0 pb-2  row ">
                    <div class="col-xl-5 col-lg-5 col-md-6 d-flex flex-column p-4  ">
                        <form action="{% url create_url %}" method="post">
                            
                            <div class="row align-items-center align-middle">
                                <div class="col-sm-3 align-items-center align-middle"></div>
                                <div class="col-sm-3 align-items-center align-middle">
                                    
                                </div>
                                
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 bg-transprant  ">
                            Use This Section to Add Control for saving, adding Payment, printing inv.
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

{% if field.use_fieldset %}
<fieldset>
    {% if field.label %}{{ field.legend_tag }}{% endif %}
    {% else %}
    {% if field.label %}{{ field.label_tag }}{% endif %}
    {% endif %}
    {{ field }}
    {% if field.use_fieldset %}</fieldset>{% endif %}

{% include "includes/footer.html" %}

{%endblock%}
{%block script%}
<script>

    function addItem() {

    }

    function deleteItem(sn) {

    }

    function deleteItemsAll() {

    }

    function printBill() {
        //pop a pdf file then call windows print on that
        window.print()

    }

    function enablePrintOption(enable) {

        if (enable == true) {
            $("printButton").attr('visible="true"')
        }
        else {
            $("printButton").removeAttr('visible=false')
        }
    }

</script>
{%endblock%}